extends layout 

block main-content 
    div.header
        h1.page-title Welcome to your most trusted POLKA store!
        a.shopnow(href="/shop"): button(type="button") Start collecting photocards NOW
    div.photos
        .group1 
            img.polca4(src="/image/txt2.png", alt="three albums", height="250")
            a(href="/shop")  Shop Tomorrow X Together PCs
        .group2 
            img.polca2(src="/image/jinyoungie.jpeg", alt="two albums with a picture", height="250")
            a(href="/shop")  Shop Park Jinyoung PCs
        .group3 
            img.polca3(src="/image/seventeen.jpg", alt="blue album", height="250")
            a(href="/shop")  Shop Seventeen BSS PCs
        .group4 
            img.polca1(src="/image/got7.jpg", alt="green album", height="250")
            a(href="/shop")  Shop GOT7 PCs  