block variables 
doctype html 
html 
    head 
        meta(charset="utf-8")
        title #{title} | PolKA Store
        block scripts 
            link(rel="stylesheet", type="text/css" href="/styles.css")
    body  
        header#header 
            .header-content 
                h1#site-name 
                    a(href="/") PolKa Store
                nav#main-nav 
                    ul 
                        each link in menu
                            li 
                                a(href=link.path) #{link.name}
        main#main 
            block  main-content 
        footer#footer 
            p &copy; Copyright HTTP5211, 2023.